<div *ngIf="post as p">

  <div [ngSwitch]="template" id="post-template-wrapper" class="post-template-wrapper" [@fadeAnimation]="'in'">
    <ng-template [ngSwitchCase]="'default'">
      <section *ngIf="p.image" class="row white-section text-center">
        <div class="col">
          <img src="{{p.image}}" class="post-cover-image" />
        </div>
      </section>
    
      <section class="row white-section text-center">
        <div class="col">
          <h1 *ngIf="p.title">{{p.title}}</h1>
        </div>
      </section> 

      <section class="row white-section text-center">
          <div class="col">
            <p *ngIf="p.content">{{p.content}}</p>
          </div>
        </section> 
    </ng-template>

    <ng-template [ngSwitchCase]="'images-middle'">
      <section *ngIf="p.image" class="row white-section text-center">
        <div class="col">
          <img src="{{p.image}}" class="post-cover-image" />
        </div>
      </section>

      <section class="row white-section text-center">
        <div class="col">
          <h1 *ngIf="p.title">{{p.title}}</h1>
        </div>
      </section> 

      <section class="row white-section text-center">
        <div class="col">
          <p *ngIf="p.content">{{p.excerpt}}</p>
        </div>
      </section> 
  
      <section *ngIf="p.images" class="row white-section text-center">
        <div *ngFor="let img of p.images" class="col">
          <img src="{{img}}" class="post-meta-image" />
        </div>
      </section>
    
      <section class="row white-section text-center">
        <div class="col">
          <p *ngIf="p.content">{{p.content}}</p>
        </div>
      </section> 
    </ng-template>

    <ng-template [ngSwitchCase]="'text'">
      <section class="row white-section text-center">
        <div class="col">
          <h1 *ngIf="p.title">{{p.title}}</h1>
        </div>
      </section> 

      <section class="row white-section text-center">
        <div class="col">
          <p *ngIf="p.content">{{p.content}}</p>
        </div>
      </section> 
    </ng-template>

    <ng-template [ngSwitchCase]="'home'">
      <section *ngIf="p.image" class="row white-section text-center">
        <div class="col">
          <img src="{{p.image}}" class="post-cover-image" />
        </div>
      </section>

      <section class="row white-section text-center">
        <div class="col">
          <p *ngIf="p.content">{{p.content}}</p>
        </div>
      </section>
    </ng-template>

  </div>
</div>
  