/**
 * mlbors - SCSS - Variables - Settings
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/************************************/
/********** DEFAULT MARGIN **********/
/************************************/

$myGutter:                          30px;
$myBasicGutter:                     $myGutter;
$myDoubleGutter:                    $myGutter*2;
$myTripleGutter:                    $myGutter*3;
$myQuadrupleGutter:                 $myGutter*4;
$myDividedGutter:                   $myGutter/2;