/**
 * mlbors - SCSS - Variables - Outline
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/********************************/
/********** NAVIGATION **********/
/********************************/

$navLinkOutline:                    none;

/********************************************************************************/
/********************************************************************************/

/***************************/
/********** FORMS **********/
/***************************/

$inputFormOutline:                  none;
$inputFormOutlineF:                 none;