/**
 * mlbors - SCSS - Body
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

body {
    position: relative;
    padding: 0;
    font-family: $bodyFontFamily;
    color: $bodyTxtColor;
    font-weight: $bodyFontWeight;
    font-size: $bodyFontSize;
    text-transform: $bodyTxtTransform;
    text-align: $bodyTxtAlign;
    line-height: $bodyLineHeight;
    background-color: $bodyBg;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}