/**
 * mlbors - SCSS - Footer
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

footer.footer {
    padding: $myGutter 0;
    border-top: 1px solid $myBrandGray;
    text-align: center;

}