<div id="post-template-wrapper" class="post-template-wrapper" [@fadeAnimation]="'in'">
  <section class="row white-section text-center">
    <div class="col">
      <h1>My projects</h1>
      <p>Find a selection of some of my projects down below.</p>
    </div>
  </section> 

  <section class="row white-section text-center">
    <div class="col">
      <div id="project-category-terms-list-wrapper" class="project-category-terms-list-wrapper">
        <ul>
          <li>
            <button class="btn btn-primary" (click)="filterProjects('all')">all</button>
          </li>
          <li *ngFor="let term of terms">
            <button class="btn btn-primary" (click)="filterProjects(term.slug)">{{term.name}}</button>
          </li>
        </ul>
      </div>
    </div>
  </section> 

  <section *ngIf="posts" class="row white-section projects-list">
    <div class="col">
      <div class="card-columns">
        <div *ngFor="let post of (posts | postTerm: selectedTerm)" class="card" [@filterStateAnimation]="filterState">
          <img *ngIf="post.image" class="card-img-top" src="{{post.image}}" alt="{{post.title}}">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p *ngIf="post.excerpt" class="card-text">{{post.excerpt}}</p>
            <a [routerLink]="['/project', post.slug]" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




