/**
 * mlbors - SCSS - Buttons
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

.btn {
    
    &,
    &:link,
    &:visited {
        padding: $paddingBtn;
        border: $btnBorder;
        color: $btnTxtColor;
        text-transform: $btnTxtTransform;
        font-weight: $btnFontWeight;
        opacity: $btnOpacity;
        background-color: $btnBgColor;
        outline: none;
        @include my-border-radius($btnBorderRadius);
        @include my-box-shadow(none);
        @extend %my-standard-transition;
    }
    
    &:hover,
    &:active,
    &:focus,
    &.active {
        border: $btnBorderH !important;
        color: $btnTxtColorH !important;
        opacity: $btnOpacityH;
        background-color: $btnBgColorH !important;
        outline: none;
        @include my-box-shadow(none);
        @extend %my-standard-transition;
    }
    
    &.lg {
        font-size: $btnLgFontSize;
    }
    
    &.xs {
        font-size: $btnSmFontSize; 
    }
    
}
