/**
 * mlbors - SCSS - Modules
 *
 * since		07.12.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/*******************************/
/********** PORTFOLIO **********/
/*******************************/

.social-icons {
    float: none;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    .social-icon {
        display: inline-block;
        margin: 0;
        margin: 0 $myDividedGutter 0 0;

        &:last-child {
            margin: 0;
        }

        a {
            display: block;
            float: none;
            clear: both;
            overflow: hidden;

            img {
                display: block;
                float: none;
                width: 100%;
                height: auto;
                clear: both;
                overflow: hidden;
            }

        }

    }

}

/********************************************************************************/
/********************************************************************************/

/****************************/
/********** SKILLS **********/
/****************************/

.skills {
    float: none;
    max-width: 991px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    .skill-item {
        display: inline-block;
        margin: 0;
        padding: $myDividedGutter $myDividedGutter/2 0 $myDividedGutter/2;

        .skill-info {
            padding: $paddingBtn;
            border: $btnBorder;
            color: $btnTxtColor;
            text-transform: $btnTxtTransform;
            font-weight: $btnFontWeight;
            opacity: $btnOpacity;
            background-color: $btnBgColor;
            @include my-border-radius($btnBorderRadius);
        }

        &:last-child {
            margin-right: 0;
        }

    }

}

/********************************************************************************/
/********************************************************************************/

/*******************************/
/********** PORTFOLIO **********/
/*******************************/

.projects-categories {
    float: none;
    max-width: 991px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    .project-category {
        display: inline-block;
        margin: 0;
        padding: $myDividedGutter $myDividedGutter/2 0 $myDividedGutter/2;

        .category-info {
            padding: $paddingBtn;
            border: $btnBorder;
            color: $btnTxtColor;
            text-transform: $btnTxtTransform;
            font-weight: $btnFontWeight;
            opacity: $btnOpacity;
            background-color: $btnBgColor;
            @include my-border-radius($btnBorderRadius);
            @extend %my-standard-transition;

            &:hover {
                cursor: pointer;
                border: $btnBorderH;
                color: $btnTxtColorH;
                opacity: $btnOpacityH;
                background-color: $btnBgColor;
                @extend %my-standard-transition;
            }

        }

        &:last-child {
            margin-right: 0;
        }

    }

}

ul.projects {
    list-style-type: none;
    padding: 0;

    li.project {
        @extend .col-md-4 !optional;
        margin-top: $myGutter;

        .project-wrapper {
            display: block;
            position: relative;

            .project-info {
                display: block;
                position: relative;
                opacity: 1;
                @extend %my-standard-transition;

                &:hover {
                    cursor: pointer;
                    opacity: 0.75;
                    @extend %my-standard-transition;
                }

                .project-thumbnail {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    clear: both;
                    z-index: 3000;
                }

                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0,0,0, 0.45);
                    z-index: 4000;
                }

                .project-title {
                    position: absolute;
                    left: 50%; 
                    top: 50%;
                    color: $myWhite;
                    text-transform: uppercase;
                    text-align: center;
                    z-index: 4000;
                    @include my-transform( translate(-50%,-50%) );

                }

            }

        }

    }

}

/********************************************************************************/
/********************************************************************************/

/*************************************/
/********** PROJECT DETAILS **********/
/*************************************/

.project-detail {
    position: relative;
    margin: 0 0 $myGutter;
    padding: 0;
    background-color: $myWhite;
    overflow: hidden;

    .project-content {
        display: block;
        float: none;
        margin: 0 auto $myGutter;
        padding: 0;
        overflow: hidden;
    }

    .cover-img {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0 auto $myGutter;
        padding: 0;
        clear: both;
    }

    .description,
    .abstract {
        display: block;
        float: none;
        margin: 0 0 $myGutter 0;
        padding: 0;
        clear: both;
        overflow: hidden;

        p {
            text-align: justify;
        }

    }

    .details {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        clear: both;
        overflow: hidden;

        p {
            text-align: justify;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: block;
                margin: 0 0 $myDividedGutter/2;
                text-align: left;
                clear: both;

                &:last-child {
                    margin: 0;
                }

            }

        }

    }

    .pictures {
        display: block;
        float: none;
        margin: $myGutter 0 0;
        padding: 0;
        clear: both;
        overflow: hidden;

        h4 {
            margin-bottom: 0;
        }

        .pictues-wrapper {
            @extend .row;

            .picture-thumbnail {
                @extend .col-md-4 !optional;
                margin-top: $myGutter;

                .picture-wrapper {
                    display: block;
                    position: relative;

                    .picture-link {

                        &,
                        &:link,
                        &:visited {
                            display: block;
                            position: relative;
                            opacity: 1;
                            color: $myWhite;
                            @extend %my-standard-transition;
                        }

                        &:hover,
                        &:active,
                        &:focus {
                            cursor: pointer;
                            opacity: 0.75;
                            color: $myWhite;
                            @extend %my-standard-transition;
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                            margin: 0;
                            clear: both;
                            z-index: 3000;
                        }

                        .overlay {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background-color: rgba(0,0,0, 0.45);
                            z-index: 4000;
                        }

                        .title {
                            position: absolute;
                            left: 50%; 
                            top: 50%;
                            color: $myWhite;
                            text-transform: uppercase;
                            text-align: center;
                            z-index: 4000;
                            @include my-transform( translate(-50%,-50%) );
                        }

                    }

                }

            }

        }

        .row {

            div[class*="col-md"] {

                a {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    clear: both;

                    .picture {
                        display: block;
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        clear: both;

                    }

                }

            }

        }

    }

}