/**
 * mlbors - SCSS - Navigation
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */


.navbar {
    padding: $navbarPadding;
    background-color: rgba(255, 255, 255, 0.8);

    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    @include my-links-setter($navLinkColor !important, $navLinkColorH !important);

}

.navbar-collapse {
    padding: $navbarCollapsePadding;
}

.navbar-toggler {
    margin: $navbarToggleMargin;
    padding: $navbarTogglePadding;
    border: $navbarToggleBorder;
    @include my-border-radius(0);

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 195, 182, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        @extend %my-standard-transition;
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
        outline: none;
        @include my-box-shadow(none);

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17, 255, 239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            @extend %my-standard-transition;
        }

    }

}

nav {

    ul {

        li {
            margin: $navbarLiMargin;

            a.nav-link {
                padding: 0 !important;
            }

            &.active {

                a {

                    &,
                    &:link,
                    &:visited,
                    &:hover,
                    &:active,
                    &:focus {
                        color: $navLinkColorH !important;
                        opacity: 0.8;
                        outline: none;
                    }

                }

            }
            
            @include my-links-setter($navLinkColor !important, $navLinkColorH !important);

        }            

    }

}
