/**
 * mlbors - SCSS - Navigation
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */


.navbar {
    padding: $navbarPadding;
    background-color: rgba(255, 255, 255, 0.8);

    .brand {
        padding: $myDividedGutter 0 0;

        h1 {
            margin: 0;
        }

    }

}

.navbar-collapse {
    padding: $navbarCollapsePadding;
}

.navbar-toggle {
    margin: $navbarToggleMargin;
    padding: $navbarTogglePadding;
    @include my-border-radius(0);

    span.icon-bar {
        background-color: $navLinkColor;
    }

    &:hover {

        span.icon-bar {
            background-color: $navLinkColorH;
        }

    }

}

nav {

    ul {

        li {
            margin: $navbarLiMargin;

            &.active {

                a {

                    &,
                    &:link,
                    &:visited,
                    &:hover,
                    &:active,
                    &:focus {
                        color: $navLinkColorH !important;
                        opacity: 0.8;
                    }

                }

            }
            
            @include my-links-setter($navLinkColor, $navLinkColorH);

        }            

    }

}
