/**
 * mlbors - SCSS - Responsive
 *
 * since		04.01.2017
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/***************************************/
/********** MAX-WIDTH: 1170px **********/
/***************************************/

@media (max-width: 1170px) {

}

/********************************************************************************/
/********************************************************************************/

/***************************************/
/********** MAX-WIDTH: 1025px **********/
/***************************************/

@media (max-width: 1025px) {

}

/********************************************************************************/
/********************************************************************************/

/***************************************/
/********** MAX-WIDTH: 1024px **********/
/***************************************/

@media (max-width: 1024px) {
    
}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 991px **********/
/**************************************/

@media (max-width: 991px) {
    
    .margin-bottom-991  {
        margin-bottom: $myBasicGutter;
        @include my-transition(all ease 0.25s);
    }

}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 990px **********/
/**************************************/

@media (max-width: 990px) {
 
}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 768px **********/
/**************************************/

@media (min-width: 768px) {

}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 767px **********/
/**************************************/

@media (max-width: 767px) {

    /**********/
    /********** NAVIGATION **********/
    /**********/

    .navbar {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .navbar-collapse {
        max-height: none;
        padding: 0;
    }

    nav {

        ul {
            margin: 0;
            
            li {
                margin: $myDividedGutter/2 0;

                &:first-child {
                    margin-top: $myDividedGutter/2;
                }

                &:last-child {
                    margin-bottom: $myDividedGutter;
                }

                a {

                    &,
                    &:link,
                    &:visited,
                    &:hover,
                    &:active,
                    &:focus {
                        border: none;
                        @include my-border-radius(0);
                    }

                }

            }

        }

    }

    /**********/
    /********** SECTIONS **********/
    /**********/

    .content {

        section.row {
            padding-top: $myGutter;
            padding-bottom: $myGutter;
        }
    
    }

    /**********/
    /********** UTILS **********/
    /**********/
    
    .margin-bottom-767  {
        margin-bottom: $myDividedGutter;
        @include my-transition(all ease 0.25s);
    }
    
}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 680px **********/
/**************************************/

@media (max-width: 680px) {

    .social-icons {

        .social-icon {
            margin: 0 5px 0 0;
            max-width: 24px;

            a {
                max-width: 24px;

                img {
                    max-width: 24px;
                }

            }

        }

    }

}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 480px **********/
/**************************************/

@media (max-width: 480px) {
    
}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 420px **********/
/**************************************/

@media (max-width: 420px) {

}

/********************************************************************************/
/********************************************************************************/

/**************************************/
/********** MAX-WIDTH: 360px **********/
/**************************************/

@media (max-width: 360px) {

}