/**
 * mlbors - SCSS - Sections
 *
 * since		07.12.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

@each $key, $val in $section-settings {
    .#{$key} {
        color: map-get($val, color);
        background-color: map-get($val, background-color);
        
        @include my-links-setter(map-get($val, link-color), map-get($val, link-color-h), $txtLinkDecoration, $txtLinkDecorationH, $linkOpacity, $linkOpacityH, $transition: true);
         
    }
}

.content {

    section.row {
        padding-top: $myDoubleGutter;
        padding-bottom: $myDoubleGutter;

        &:first-of-type {
            padding-top: $myGutter;
        }

        &:last-of-type {
            padding-bottom: $myQuadrupleGutter;
        }
        
        .text-section {
            float: none;
            margin: 0 auto;
            max-width: 991px;
        }

    }

}